








<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>


<title>区教育局-综合查询系统</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta http-equiv="expires" content="0">
<link href="/static/css/shdkt.css" rel="stylesheet" type="text/css"/>
<link href="/static/css/custom.css?version=1" rel="stylesheet" type="text/css"/>
<script>
	if(self!=top){top.location="http://www.bjeea.cn"}
	var Config = {
		path : ''
	};
</script>
<script src="/static/widget/json/json2.js"></script>
<script src="/static/widget/jquery/jquery-1.11.2.min.js"></script>
<script src="/static/widget/jquery/custom/jquery.extend.js"></script>
<script src="/static/widget/jquery/form/jquery.form.js"></script>
<script src="/static/widget/jquery/Validform/Validform_v5.3.2.js"></script>
<script src="/static/widget/jquery/Validform/Validform_Datatype.js"></script>
<script src="/static/widget/artTemplate/template-web.js"></script>
<script src="/static/js/func.js" type="text/javascript"></script>  
</head>
<body>
<!-- banner -->
<body background="logo.png"><body background="https://www.php.cn/static/image>

<table width="974" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
			<td>
				<div class="banner"></div>
			</td>
		</tr>
	</tbody>
</table>
<table width="974" height="471" cellspacing="0" cellpadding="0" border="0" align="center" class="Content">
	<tbody>
		<tr>
			<td valign="top" height="470" bgcolor="#FFFFFF"><!-- nav bar --> 



<table width="974" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
			<td height="24" bgcolor=#CDC5BF">
				<table width="100%" cellspacing="0" cellpadding="0" border="0">
					<tbody>
						<tr>
							
							<td width="60%" align="right" class="moth">
								<a href="https://www.bilibili.com/video/BV1GJ411x7h7">教育考试院首页 </a>
								<a>|</a>
								<a href="https://www.bilibili.com/video/BV1GJ411x7h7">网上综合查询系统</a>
								
								<a>|</a>
								<a href="#">第一次教学质量成绩查询</a>
								
							</td>
							<td width="5%">
								&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<table width="974" cellspacing="0" cellpadding="0" border="0">
	<tbody>
		<tr>
			<td height="41" class="title_bg">
				<table width="500" cellspacing="0" cellpadding="0" border="0" align="left">
					<tbody>
						<tr>
							<td width="30" valign="bottom" height="26" align="center">
								<div class="bot_bg"></div>
							</td>
							<td width="90" valign="bottom" align="left" class="title">
								您当前的位置：
							</td>
							<td width="100" valign="bottom" align="left" class="title">
								<a href="https://www.bilibili.com/video/BV1GJ411x7h7">网上综合查询系统</a>
							</td>
							
							 
								<td valign="bottom" align="left" class="title">
									&gt;&gt;教学质量成绩查询&nbsp;
								</td>
							
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<div id="errormsg" class="hide">
	<table border="0" class="td_error" id="tableError">
		<tr>
			<td class="td_txt">
				
			</td>
		</tr>
	</table>
</div>
<div id="successmsg" class="hide">
	<table border="0" class="td_succeed" id="tableMessage">
		<tr>
			<td class="td_txt">
				
			</td>
		</tr>
	</table>
</div>
<table width="950" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr>
			<td width="992" height="1" bgcolor="#04579D"></td>
		</tr>
	</tbody>
</table> <!-- query -->
			<div id="queryFormDiv" class="panel">
			<table width="950" cellspacing="0" cellpadding="0" border="0" align="center" class="List_Box" style="margin-top: 8px;">
				<tbody>
					<tr>
						<td width="948" valign="top" height="450" align="center">
						<table width="550" height="310" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-top: 35px;">
							<tbody>
								<tr>
									<td width="8" valign="top" height="289" align="left">
									<div class="left_bg"></div>
									</td>
									<td width="512" valign="top" height="289" class="mid_bg" align="left" cellspacing="0" cellpadding="0">
									<form id="queryForm" method="post" action="#">
									<table width="500" cellspacing="0" cellpadding="0" border="0" align="center">
										<tbody>
											<tr>
												<td width="513" height="44" align="center" class="title_br layout">2022高中学业水平考试成绩查询</td>
											</tr>
											<tr>
												<td width="162" align="center">
												<table width="500" border="0" cellspacing="1" cellpadding="0">
													<input type="hidden" name="modeId" value="102" />
													<input type="hidden" name="examId" value="5624" />
													
														
															<tr>
																<td align="right" class="layout_zi">请输入准考证号或身份证号：</td>
																<td align="left"><input name="examNo" id="examNo" type="text" value="" size="20" maxlength="18" datatype="is_null_zhongkao_jkexamno" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"/> <font
																	color="red">*</font></td>
															</tr>
														
													
														
															<tr>
																<td align="right" class="layout_zi">请输入考生号：</td>
																<td align="left"><input name="reportNo" id="reportNo" type="text" value="" size="20" maxlength="11" datatype="zhongkao_reportno" onKeypress="javascript:if(event.keyCode == 32)event.returnValue = false;"/> <font
																	color="red">*</font></td>
															</tr>
														
													
													<tr>
														<td align="right" class="layout_zi">请输入验证码：</td>
														<td align="left" valign="middle">
															<input type="text" maxlength="4" size="5" id="captcha" name="captcha" datatype="s" ajaxurl="/captcha">
															<img src="http://query.bjeea.cn/captcha.jpg" />
														</td>
													</tr>

												</table>

												</td>
											</tr>
											<tr>
<td height="25" align="center">												
<button οnclick="{location.href='http://www.bilibili.com/video/BV1Ev4y1N7VH/'}">登录</button>
                                                                                                
<button οnclick="{location.href='http://www.bilibili.com/video/BV1Ev4y1N7VH/'}">重置</button>
                                                                                                  </td>
												</td>
											</tr>
											<tr>
												<td height="25" align="center" class="title_p">数据更新时间： 
													2022年07月18日
												 </td>
											</tr>

											<tr>
												<td height="25" align="center" class="title_p"><br><br><br><br>
<div style="TEXT-ALIGN:left;width:580px;">
									</tr>

										</tbody>
									</table>
									</form>
									</td>
									<td width="8" valign="top" align="right">
									<div class="right_bg"></div>
									</td>
								</tr>

							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<!-- result -->
			<div class="panel" id="queryResultDiv"></div>
			<!-- bottom--> 
<table width="969" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td width="972">
			&nbsp;
		</td>
	</tr>
	<tr>
		<td height="61" align="center" bgcolor="#2896f2" class="moth">
			<a>版权所有：教育考试院，未经同意，请勿转载! <br /> 通信地址：佛山南海区志新东路9号 邮政编码：100083</a>
		</td>
	</tr>
</table></td>
		</tr>
	</tbody>
</table>

</body>
</html>
<script id="result_tpl" type="text/html">
<table width="708" height="100" border="0" align="center" cellpadding="0" cellspacing="0" class="List_Box" style="margin-top: 8px;">
	<tr>
		<td width="948" height="44" align="center" class="title_br layout">
			2022高中学业水平考试成绩查询
		</td>
	</tr>
	<tr>
		<td width="708" height="100" align="center" valign="top" cellpadding="0" cellspacing="0" class="result_bg">
			<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
				<tr>
					<td align="right"  height="30" class="title_pr">
						姓名：
					</td>
					<td align="left" class="title_p">
						{{name}}
					</td>
				</tr>
				<tr>
					<td align="right"  height="30" class="title_pr">
						考生报名号：
					</td>
					<td align="left" class="title_p">
						{{reportNo}}
					</td>
					</tr>
				
				
			</table>
		</td>
	</tr>
	{{if topFlag==1}}
		{{if queryTop20BeiZhuText}}
		<tr>
			<td height="45" align="center" class="title_p" style="color:red">
				<b>
					<div style="text-align:center;width:700px;">
						{{#queryTop20BeiZhuText}}
					</div>
				</b>
			</td>
		</tr>
		{{/if}}
	{{else if topFlag==2}}
	
					</td>
					<td align="center" class="title_p">
						{{zk.jianf}}
					</td>
				</tr>
				<tr>
					<td align="center" colspan="2"  height="25" class="title_p">
						录取总分
					</td>
					<td align="center" class="title_p">
						{{zk.lqzf}}
					</td>
				</tr>
				{{/each}}
			</table>
		</td>
	</tr>
	{{/if}}
	<tr>
		<td height="55" align="center" colspan="3">
			<input type="button" class="back_btn" id="backBtn" />
		</td>
	</tr>
	{{if topFlag==1}}
	{{else if topFlag==2}}
		<tr>
			<td height="45" align="center" class="title_p" style="color:red">
				<b>
					<div style="text-align:left;width:700px;">
						{{#zk901ScoreBeiZhuText}}
					</div>
				</b>
			</td>
		</tr>
	{{else}}
		{{if queryBeiZhuText}}
		<tr>
			<td height="45" align="center" class="title_p" style="color:red">
				<b>
					<div style="text-align:left;width:700px;">
					{{#queryBeiZhuText}}
					</div>
				</b>
			</td>
		</tr>
		{{/if}}
	{{/if}}
</table>
</script>
<script type="text/javascript">
function resets(){
		var strs= new Array();
		var url = window.location.href;
		strs = url.split("#");
		window.location.href=strs[0]; 
}
</script>
<script src="/static/js/formvalid.js" type="text/javascript"></script>
